html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Playfair Display", serif;
}

#lit_quote em {
    font-weight: 700;
    color: rgb(19, 19, 19);
    font-style: normal;
}

#lit_quote {
    font-size: xx-large;
}

#main_text {
    width: 80vw;
    margin: auto;
    color: dimgrey;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: large;
}

#buttom {
    width: 90%;
    bottom: 2%;
    color: dimgray;
    padding-left: 5%;
    padding-right: 0;
    position: fixed;
    font-size: small;
}

#buttom a, a:visited {
    color: rgb(66, 66, 66);
}

#buttom span {
    padding-left: 5%;
    border-left-style: solid;
    border-left-width: 2%;
    border-left-color: dimgray;
}

/* dark theme */
body.dark {
    background: #181A1B;
}

body.dark #lit_quote em {
    color: rgb(220, 217, 212);
}

body.dark #main_text, body.dark #buttom {
    color: rgb(166, 158, 146);
}

body.dark #buttom a, a:visited {
    color: rgb(190, 185, 176);
}
